<!-- start showcase -->
<section class="box">
<article id="container">
  <section class="breadcrumb">
    <ul>
      <li class="first"><a href="/" title="Home"><%= image_tag 'ic_home.png', :alt => 'home'  %> </a></li>
      <li><a href="/shopping_cart" title="Shopping Cart">Shopping Cart</a></li>
    </ul>
    <section class="clear"></section>
  </section>
<table class="tabla_cart">
	<thead>
		<tr>
			<th></th>
			<th>Item</th>
			<th>Quantity</th>
			<th>Price</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>

	</tbody>


</table>


</article>
</section>
