<article id="container">
  <section class="box">
    <!-- start breadcrumb -->
    <section class="breadcrumb inner">
      <ul>
        <li class="first"> <%= link_to(image_tag('ic_home.png', :alt => 'home'),root_path, :title => 'Home') %></li>
        <!--<li><%= link_to 'Buy Tokens', buy_tokens_path, :title => 'Buy Tokens' %></li> -->
      </ul>
      <section class="clear"></section>
    </section>

    <!-- end breadcrumb -->

    <h3 class="title">Your purchase was successful</h3>



  </section>
</article>