<link href="http://fonts.googleapis.com/css?family=Amatic+SC:400,700" media="all" rel="stylesheet" type="text/css"
      xmlns="http://www.w3.org/1999/html">

<style>
    .box-fr{
        font-family: 'Amatic SC', cursive;
        font-weight: 800;
    }
    p{
        font-size: 25px;
    }

</style>
<div class="box-fr">

  <p>Hi, thanks for trying out The Open Hat. We are in a very early stage of development so don't be surprised if some features don't work as expected.</p>
  <p>Please have fun, invite your friends and we really appreciate any <a href="/pages/contact" target="_parent">feedback</a> you can give us.</p>

  <p>Thanks again!</p>

  <p>The Open Hat team</p>



</div>