<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" >
    $(document).ready(function(){

        $('.text').click(function(){
           $('.imagen').click();
        });
        $('.imagen').change(function(){
            $('.text').val($(this).val());
        });
        $('.button').click(function(){
            $('.frm').submit();
        });
    });
</script>
<link href="http://fonts.googleapis.com/css?family=Amatic+SC:400,700" media="all" rel="stylesheet" type="text/css">
<style>
    .box-fr{
        font-family: 'Amatic SC', cursive;
        font-weight: 800;
    }
    .box-title{
        margin: 0 auto;
        width: 245px;
    }
    .box-title img{
        float: left;
        padding-right: 12px;
    }
    .box-title h2{
        font-size: 38px;
        line-height: 32px;
        margin-left: 12px;
    }
    p{
        font-size: 25px;
        margin: 0px auto;
        width: 440px;
    }

    p.text-tip{
        color: #D94601;
    }

    a.buy_more{
        color: #D94601;
    }
    .text{
        background: url('../images/sprite-forms.png') -12px -73px no-repeat;
        width: 460px;
        border: none;
        height: 62px;
        padding: 0px 5px 0px 0px;
        font-size: 21px;
        margin-bottom: 13px;
        margin-left: 14px;
    }
    .box-form{
        float:left;
        margin-top: 50px;
        width: 450px;
    }
    .button{
        background: url(../images/img_sprite.png) no-repeat -660px -338px;
        width: 100px;
        height: 49px;
        float: right;
        border: none;
        color: white;
        font-family: 'Amatic SC', cursive;
        font-weight: 400;
        font-size: 22px;
        margin-top: 5px;
    }
</style>
<div class="box-fr">
  <div class="box-title">
      <h2>CHANGE PROFILE IMAGE</h2>
  </div>
  <p>Select the image you want to upload, this replaces your current image.</p>

  <div class="box-form">
    <%= form_tag('/saveimage', :method=>'post', :multipart => true, :class => "frm") do %>
    <input type="file" name="imagen" class="imagen" style="display: none;" />
    <% end %>
    <input type="text" name="tip"  class="text" />

    <button class="button">Change!</button>

  </div>


</div>