
<link href="http://fonts.googleapis.com/css?family=Amatic+SC:400,700" media="all" rel="stylesheet" type="text/css">
<style>
    .box-fr{
        font-family: 'Amatic SC', cursive;
        font-weight: 800;
    }
    .box-title{
        margin: 0 auto;
        width: 245px;
    }
    .box-title img{
        float: left;
        padding-right: 12px;
    }
    .box-title h2{
        font-size: 38px;
        line-height: 32px;
        margin-left: 12px;
    }
    p{
        font-size: 25px;
        margin: 0px auto;
        width: 440px;
    }

    p.text-tip{
        color: #D94601;
    }

    a.buy_more{
        color: #D94601;
    }


</style>
<div class="box-fr">
  <div class="box-title">
    <h2>CHANGE PROFILE IMAGE</h2>
  </div>
  <p>The image has been changed successfully.</p>
  <script type="text/javascript" >
      top.window.opener.location.reload()
  </script>
</div>