<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.copy.js"></script>
<script type="text/javascript" >
    $(document).ready(function(){

        $('.button').zclip({
            path:'/ZeroClipboard.swf',
            copy:$('.text').val()
        });
    });
</script>
<link href="http://fonts.googleapis.com/css?family=Amatic+SC:400,700" media="all" rel="stylesheet" type="text/css">
<style>
    .box-fr{
        font-family: 'Amatic SC', cursive;
        font-weight: 800;
    }
    .box-title{
        margin: 0 auto;
        width: 210px;
    }
    .box-title img{
        float: left;
        padding-right: 12px;
    }
    .box-title h2{
        font-size: 38px;
        line-height: 32px;
        margin-left: 12px;
    }
    p{
        font-size: 25px;
        margin: 0px auto;
        width: 440px;
    }

    p.text-tip{
        color: #D94601;
    }

    a.buy_more{
        color: #D94601;
    }
    .text{
        background: url(/images/img_sprite.png) no-repeat -288px -137px;
        width: 470px;
        height: 63px;
        float: left;
        border: none;
        padding: 4px 8px 6px 14px;
        font-family: 'Amatic SC', cursive;
        font-weight: 800;
        font-size: 30px;
        margin-left: 12px;
    }
    .box-form{
        float:left;
        margin-top: 50px;
        width: 450px;
    }
    .button{
        background: url(/images/img_sprite.png) no-repeat -660px -338px;
        width: 100px;
        height: 49px;
        float: right;
        border: none;
        color: white;
        font-family: 'Amatic SC', cursive;
        font-weight: 400;
        font-size: 22px;
        margin-top: 5px;
    }

        .social{
            display: block;
            clear: both;
            margin-left: 11px;
        }
        .social h3{
            font-size: 35px;
            margin: 0;
            float: left;
        }
        .social ul{
            list-style: none;
            float: left;
            margin: 9px 25px;
            padding: 0;
        }
        .social ul li{
            float: left;
            padding: 2px 23px 0px 0px;
        }
</style>
<div class="box-fr">
  <div class="box-title">
    <img src="/images/ic_share.png" width="29" height="29" alt="doller">
    <h2>SHARE YOUR LINK</h2>
  </div>

  <div class="box-form">
    <input type="text" name="url"  class="text" value="http://beta.theopenhat.com/stage/<%= @id %>"  />

    <button class="button">Copy!</button>

    <section class="social">
      <h3>Share this »</h3>
      <ul>
        <li>
          <a href="https://twitter.com/share?url=http://beta.theopenhat.com/stage/<%= @id %>&text=I'm performing live ON TheOpenHat" title="twitter" onclick="javascript:window.open(this.href,
                  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" class="twitter-share-button"><img src="/images/ic_twitter.png" width="18" height="26" alt="twitter"></a></li>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://beta.theopenhat.com/stage/<%= @id %>" onclick="javascript:window.open(this.href,
                '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=390,width=600');return false;"  title="facebook" ><img src="/images/ic_facebook.png" width="18"  height="27" alt="facebook" /></a></li>
        <li><a href="https://plus.google.com/share?url=http://beta.theopenhat.com/stage/<%= @id %>" title="google+" onclick="javascript:window.open(this.href,
                '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img src="/images/ic_google+.png" width="31" height="29" alt="google+"></a></li>
      </ul>
    </section>
  </div>


</div>