<article id="container">
  <!-- start box -->
  <section class="box">
    <!-- start breadcrumb -->
    <section class="breadcrumb inner">
      <ul>
        <li class="first"> <%= link_to(image_tag('ic_home.png', :alt => 'home'),root_path, :title => 'Home') %></li>
        <li><%= link_to 'Upload File to Dropbox', 'upload_dropbox', :title => 'Upload File to Dropbox' %></li>
      </ul>
      <section class="clear"></section>
    </section>
    <!-- end breadcrumb -->
    <!-- start register-form -->
    <%= form_tag("/upload_file", :method => "post", :class => 'register-form', :id => 'makeStage',:multipart => true)  do %>
        <section class="rowline">
          <h2>Upload File to Dropbox</h2>
          <p>Its easy to start sharing your files with the world. Just fill in the following forms and you’re ready to go.</p>
        </section>


        
   
        <%#= text_field_tag("stage[ticket_price]",nil,:class => 'form-input-medio  required', :placeholder => 'Ticket Price') %>
      
        <%#= file_field_tag 'stage[performance_image]', :class => 'upload' %>
        <%#= text_field_tag 'stage[performance_image_fake]',nil, :class => 'form-input-file', :placeholder => 'Performance Image' %>
       
        <%#= select_tag("stage[rate]", options_for_select([['General Audiences', 'general audiences'], ['Parental Guidance Suggested', 'parental guidance suggested'], ['Parents Strongly Cautioned', 'parents strongly cautioned'],['Restricted','restricted'],['No One 17 and Under Admitted','no one 17 and under admitted']]), :prompt => 'Content Rate', :class => 'form-input-select required') %>
       

        <input name="submit" type="submit" value="Upload" class="button">
    <% end %>
    <!-- end register-form -->
    <!-- start design-block -->


  </section>
</article>

<script type="text/javascript">
  $(document).ready(function(){
      $('.design').click(function(){
            $('#stage_design').val($(this).val());
      });
  });
</script>