<article id="container">
  <!-- start box -->
  <section class="box">
    <!-- start breadcrumb -->
    <section class="breadcrumb inner">
      <ul>
        <li class="first"><%= link_to(image_tag('ic_home.png'), root_path)  %></li>
        <li><a href="#">No Invitation</a></li>
      </ul>
      <section class="clear"></section>
    </section>
    <!-- end breadcrumb -->
    <!-- start register-form -->
    <section class="profile">
      <section class="rowline">
        <h2 style="font-weight: 400;">Do you have an invitation?</h2>
        <p style="font-size: 60px; font-weight: 400; font-family: 'Amatic SC', cursive;margin-top: 26px;">An invitation is required to see this performance</p>


      </section>

    </section>

    <!-- end creative-block -->
    <section class="clear"></section>

  </section>
  <!-- end box -->
</article>