<article id="container">
<!-- start box -->
<section class="box">
  <!-- start breadcrumb -->
  <section class="breadcrumb inner">
    <ul>
      <li class="first"><a href="#" title="Home"><img src="images/ic_home.png" width="21" height="20" alt="home" /></a></li>
      <li><a href="#" title="your account">your account</a></li>
      <li><a href="#" title="settings">settings</a></li>
    </ul>
    <section class="clear"></section>
  </section>

  <section class="clear"></section>
  <!-- start bottom-link -->
  <nav class="bottom-link">
    <ul>
      <li>random performers:</li>
      <li><a href="#" title="SNL Club">SNL Club</a></li>
      <li>/</li>
      <li><a href="#" title="Lykke Li">Lykke Li</a></li>
      <li>/</li>
      <li><a href="#" title="Kanye west">Kanye west</a></li>
      <li>/</li>
      <li><a href="#" title="Theatre club">Theatre club</a></li>
      <li>/</li>
      <li><a href="#" title="Comedy Club">Comedy Club</a></li>
      <li>/</li>
      <li><a href="#" title="Björk">Björk</a></li>
      <li>/</li>
      <li><a href="#" title="Parrell Williams">Parrell Williams</a></li>
      <li>/</li>
      <li><a href="#" title="GOW">GOW</a></li>
      <li>/</li>
      <li><a href="#" title="Lykke Li">Lykke Li</a></li>
    </ul>
    <section class="clear"></section>
  </nav>
    </section>
    </article>